/* .body-text-container {
  width: 80%;
  height: 60%;
  border: 2px solid green;
}

.top-left-column {
  color: white;
  height: inherit;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-left: 100px;
  border: 2px solid lightblue;
}

.extra-text {
  width: 80%;
  font-weight: bold;
  font-size: large;
  border: 2px solid green;
}

.top-right-column {
  height: inherit;
  width: 50%;
  border: 2px solid lightblue;
}

#main-title {
  font-size: 65px;
  text-align: left;
  letter-spacing: -2px;
  border: 2px solid green;
}

.buttons {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: left;
  margin: 20px 0;
  line-height: 1.7em;
  cursor: pointer;
  border: 2px solid green;
}

.booking-buttons {
  border: 2px solid white;
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  padding: 6px;
  margin-right: 45px;
  border: 2px solid green;
} */
