.projects-section {
  display: flex;
  height: 550px;
}

.projects-left-column {
  height: inherit;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-right-column {
  height: inherit;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}
.confetti-screenshot {
  background-image: url(../../assets/confettiScreenshot.png);
  position: relative;
  background-size: contain;
  object-fit: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
}

.confetti-screenshot:hover {
  opacity: 0.8;
}

.github-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 13%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-image: url("../../assets/githublogo.png");
}

.confetti-screenshot:hover .github-link {
  opacity: 0.9;
}

.projects-column-content {
  width: 70%;
}

.projects-column-title {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 30px;
}

.projects-column-text {
  line-height: 30px;
}
