.starseeker-section {
  display: flex;
  height: 550px;
  padding: 3rem;
}

.starseeker-left-column {
  width: 40%;
  display: flex;
  align-items: center;
  background-image: url(../../assets/starSeekerScreenshot.png);
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 3rem;
}
.starseeker-right-column {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(0, 0, 0);
}
.starseeker-github-logo {
  object-fit: contain;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/githublogo.png");
  height: 10rem;
  width: 10rem;
  transition: opacity 0.5s ease;
}

.starseeker-github-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.starseeker-left-column:hover .starseeker-github-link {
  opacity: 0.9;
}

.starseeker-text-container {
  width: 70%;
}

.starseeker-column-title {
  font-size: 46px;
  font-weight: bold;
  border-bottom: 2px solid rgb(95, 107, 186);
}

.starseeker-column-text {
  line-height: 30px;
  padding-top: 30px;
}
