.projects-section {
  display: flex;
  height: 550px;
}

.projects-left-column {
  height: inherit;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-right-column {
  height: inherit;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
}

.projects-column-content {
  width: 70%;
}

.projects-column-title {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 30px;
}

.projects-column-text {
  line-height: 30px;
}

.confetti-screenshot {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
