.beauty-section {
  display: flex;
  height: 550px;
  padding: 2rem;
}

.beauty-left-column {
  width: 60%;
  background-image: url(../../assets/beautyDecoder.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.beauty-right-column {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-projects-title {
  font-size: 46px;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  display: flex;
  font-weight: bold;
  margin-top: 8rem;
  border-bottom: 2px solid lavender;
}

.beauty-github-logo {
  object-fit: contain;
  position: relative;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/githublogo.png");
  height: 10rem;
  width: 10rem;
  transition: opacity 0.5s ease;
}

.beauty-github-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.beauty-left-column:hover .beauty-github-link {
  opacity: 0.9;
}

.beauty-text-container {
  width: 70%;
}

.beauty-column-title {
  font-size: 46px;
  font-weight: bold;
  border-bottom: 2px solid lavender;
}

.beauty-column-text {
  line-height: 30px;
  padding-top: 30px;
}
