.introduction-section {
  display: flex;
  height: 550px;
  margin-top: 5rem;
}

.introduction-left-column {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: rgb(0, 0, 0);
}
.introduction-right-column {
  width: 40%;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  justify-content: center;
}
.picture-of-me {
  background-image: url("../../assets/kcole.jpeg");
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 70%;
  padding-bottom: 70%;
  transition: opacity 0.5s ease;
}

.picture-of-me:hover {
  opacity: 0.8;
}

.linkedin-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-image: url("../../assets/linkedinlogo.png");
}

.picture-of-me:hover .linkedin-link {
  opacity: 0.9;
}

.introduction-column-content {
  width: 70%;
}

.introduction-column-title {
  font-size: 46px;
  font-weight: bold;
}

.introduction-column-subtitle {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 30px;
  color: rgb(95, 107, 186);
}

.introduction-column-text {
  line-height: 30px;
}
