.language-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.language-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.languages-title {
  font-size: 46px;
  font-weight: bold;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid rgb(95, 107, 180);
}

.languages-logos-only img,
.frameworks-logos-only img {
  height: 3rem;
  width: 3rem;
}

.logo-container {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.logo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.logo-container:hover {
  transform: scale(1.1);
}

.languages-logos-only,
.frameworks-logos-only {
  display: flex;
  justify-content: center;
  gap: 13rem;
  margin: 20px 0;
}
