.proven-section {
  display: flex;
  height: 550px;
  padding: 2rem;
  border-top: dotted 3px lavender;
}

.proven-left-column {
  width: 60%;
  background-image: url(../../assets/provenPizza.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.proven-right-column {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proven-github-logo {
  object-fit: contain;
  position: relative;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/githublogo.png");
  height: 10rem;
  width: 10rem;
  transition: opacity 0.5s ease;
}

.proven-github-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.proven-left-column:hover .proven-github-link {
  opacity: 0.8;
}

.proven-text-container {
  width: 70%;
}

.proven-column-title {
  font-size: 46px;
  font-weight: bold;
  border-bottom: 2px solid lavender;
}
.proven-column-text {
  line-height: 30px;
  padding-top: 30px;
}
