.heading {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 10;
  border-bottom: 0.5px solid black;
}

.logo {
  background-size: cover;
  height: 3rem;
  margin-left: 8.2rem;
  margin-top: 0.5rem;
}

.header-button {
  padding: 1rem;
  font-weight: 700;
  font-family: Source Sans Pro, Helvetica, Arial, Lucida, sans-serif;
  font-size: 12px;
}

.header-button:hover {
  color: #5f6bba;
  transition: 0.2s;
  /* make buttons larger on hover */
}

.header-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  justify-content: space-evenly;
  width: 100%;
  margin-left: 20rem;
}
