.heading {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: lavenderblush;
  width: 100%;
  top: 0;
  height: 4rem;
  z-index: 10;
  border-bottom: 0.5px solid black;
}

.header-button,
.header-button-cv {
  padding: 1rem;
  font-family: Source Sans Pro, Helvetica, Arial, Lucida, sans-serif;
  transition: transform 0.5s ease-in-out;
}

.header-button:hover {
  color: #5f6bba;
  transition: 0.1s;
  transform: scale(1.1);
}

.header-button-cv:hover {
  color: #5f6bba;
  transition: 0.1s;
  transform: scale(1.1);
}

.header-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly;
  width: 100%;
}
